html{
    font-size: 16px;
}

body{
    font-family: 'Raleway', sans-serif;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 2em;
    position: relative;
}

/* Header - start */
#header{
    flex-direction: column;
    height: 200px;
    justify-content: space-between;
}

#header .head-top{
    padding: 1em 0;
}

#header .head-top a{
    color: #131313;
    font-size: 1.5rem;
    font-weight: 600;
}

#header .head-top a .fa-heart{
    color: #f13636;
    font-size: 1.3rem;
}

#header .head-top .logo{
    font-size: 2rem;
    font-weight: 700;
}

#header .search-input{
    border: 1px solid #d1d1d1;
    width: 800px;
    height: 60px;
    margin: 0 auto;
    border-radius: 50px;
    position: relative;
}

#header .search-input input{
    background-color: #eee;
    height: 100%;
    width: 90%;
    border-radius: 50px 0 0 50px;
    border: none;
    padding: 0 2em;
    font-size: 1.3rem;
}

#header .search-input .submit{
    width: 100px;
    height: 100%;
    border-radius: 0 50px 50px 0;
    border: 0;
    font-size: 1.4rem;
    background-color: #ffa600;
    cursor: pointer;
    color: #fff;
}
/* Header - end */

/* Search Results - start */
#search-results{
    margin-top: 5rem;
    flex-direction: column;
}

#search-results h2{
    margin-bottom: 3rem;
    font-size: 1.5rem;
    padding: 0 1rem;
    font-weight: 400;
    color: #525252;
}

#search-results .search-result-cards{
    justify-content: space-around;
    row-gap: 2rem;
    flex-wrap: wrap;
}

#search-results .search-result-cards .card{
    width: 400px;
    height: 450px;
    position: relative;
    margin: 0 10px;
}

#search-results .search-result-cards .card img{
    border-radius: 20px;
}

#search-results .card .fa-heart{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.7rem;
    color: #fff;
    cursor: pointer;
}

#search-results .search-result-cards .card .recipe-name{
    position: absolute;
    bottom: 0;
    background-color: #131313d5;
    backdrop-filter: blur(5px);
    width: 100%;
    height: 100px;
    border-radius: 0 0 20px 20px;
    padding-top: 10px;
}

#search-results .search-result-cards .card .recipe-name h2{
    font-size: 1.5rem;
    color: #fff;
}

#search-results .search-result-cards .card a{
    color: #ffa600;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}
/* Search Results - end */

/* Footer - start */
#footer{
    background-color: #ffa600;
    flex-direction: column;
    height: 80px;
    width: 100%;
    margin-top: 4rem;
    justify-content: center;
    color: #131313;
    font-size: 14px;

}

#footer p{
    margin-top: 10px;
}
/* Footer - end */

.loader{
    width: 100px;
    margin: 5rem 0;
    display: none;
}