*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Typography */
a{
    text-decoration: none;
}

.highlight{
    color: #ffa600;
}

/* Box Sizing */
.flex{
    display: flex;
}

.just-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}